<div class="containerPerfil">

    <div class="row col-md-12">

        <div class="col-md-4 perfilUsuario">

            <!-- SIDEBAR USUARIO -->


            <div class="panel">

                <div class="nombre">
                    <h2 class="">Juan Fernández Tenorio
                    </h2>
                </div>

                <div class="foto">
                    <img src="" alt="Foto de perfil">
                </div>

                <div class="descripcion">
                    <h3 style="text-align: center">Descripción</h3>
                    <p>Me gusta ir de conciertos, exposiciones, a fiestas de electrónica y sobre todo tomar algo con mis
                        amigos.</p>
                </div>
            </div>

            <div class="panel2">

                <h3 style="text-align: center">Órbita</h3>

                <div class="table">
                    <table class="table">
                        <thead>
                            <tr class="hidden">

                                <th>Local</th>
                                <th>Evento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>Sala Even</td>
                                <td>
                                    Drum and Bass
                                </td>
                            </tr>
                            <tr>
                                <td>Los Martínez</td>
                                <td>
                                    Flamenco
                                </td>
                            </tr>
                            <tr>
                                <td>Centro Andaluz de Arte Contemporáneo</td>
                                <td>
                                    Exposición
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>


            <div class="panel">

                <h3 style="text-align: center">Fotos</h3>

                <div class="galeriaImagenes">
                    <div class="imagenGaleria"></div>
                    <div class="imagenGaleria"></div>
                    <div class="imagenGaleria"></div>
                    <div class="imagenGaleria"></div>
                </div>

            </div>


            <div class="panel">



            </div>
        </div>


        <div class="col-md-4">

            <div class="divMapa">


                <div class="mapa">
                    <app-mapa></app-mapa>
                </div>

            </div>

        </div>



        <div class="col-md-4 containerEventos">
            
            <app-eventos></app-eventos>

        </div>


    </div>





</div>