<div class="containerPerfil">
    <section class="container">
        <div class="row">
            <div class="col-md-4">
                
                <!-- SIDEBAR USUARIO -->
                <div class="panelPerfil">
                    <h2 class="">NOMBRE Y APELLIDOS
                    </h2>
                    <div class="">
                        <a href="#">
                            <img class="" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
                        </a>
                    </div>
                    <p>Me gusta ir de conciertos, exposiciones, a fiestas de electrónica y sobre todo tomar algo con mis amigos.</p>

                    <div class="">
                        <h3>
                            Favoritos
                        </h3>
                        <table class="table">
                            <thead>
                                <tr class="hidden">

                                    <th>Local</th>
                                    <th>Evento</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>Sala Even</td>
                                    <td>
                                        <i class="fa fa-caret-up text-info pr10"></i>$855,913
                                    </td>
                                </tr>
                                <tr>
                                    <td>Radio</td>
                                    <td>
                                        <i class="fa fa-caret-down text-danger pr10"></i>$349,712
                                    </td>
                                </tr>
                                <tr>
                                    <td>Newspaper</td>
                                    <td>
                                        <i class="fa fa-caret-up text-info pr10"></i>$1,259,742
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-icon">
                            <i class="fa fa-trophy"></i>
                        </span>
                        <span class="panel-title"> My Skills</span>
                    </div>
                    <div class="panel-body pb5">
                        <span class="label label-warning mr5 mb10 ib lh15">Default</span>
                        <span class="label label-primary mr5 mb10 ib lh15">Primary</span>
                        <span class="label label-info mr5 mb10 ib lh15">Success</span>
                        <span class="label label-success mr5 mb10 ib lh15">Info</span>
                        <span class="label label-alert mr5 mb10 ib lh15">Warning</span>
                        <span class="label label-system mr5 mb10 ib lh15">Danger</span>
                        <span class="label label-info mr5 mb10 ib lh15">Success</span>
                        <span class="label label-success mr5 mb10 ib lh15">Ui Design</span>
                        <span class="label label-primary mr5 mb10 ib lh15">Primary</span>

                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-icon">
                            <i class="fa fa-pencil"></i>
                        </span>
                        <span class="panel-title">About Me</span>
                    </div>
                    <div class="panel-body pb5">

                        <h6>Experience</h6>

                        <h4>Facebook Internship</h4>
                        <p class="text-muted"> University of Missouri, Columbia
                            <br> Student Health Center, June 2010 - 2012
                        </p>

                        <hr class="short br-lighter">

                        <h6>Education</h6>

                        <h4>Bachelor of Science, PhD</h4>
                        <p class="text-muted"> University of Missouri, Columbia
                            <br> Student Health Center, June 2010 through Aug 2011
                        </p>

                        <hr class="short br-lighter">

                        <h6>Accomplishments</h6>

                        <h4>Successful Business</h4>
                        <p class="text-muted pb10"> University of Missouri, Columbia
                            <br> Student Health Center, June 2010 through Aug 2011
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-8">

                <div class="tab-block">
                    <h1>
                        <strong class="mb=0">TODOS LOS EVENTOS</strong>
                    </h1>

                    <app-mapa></app-mapa>

                </div>
            </div>
        </div>



    </section>

</div>