

.btn{
    background-color: var(--primary-color);
    border: none;
    width: 100%;
    margin-top: 25px;
    color: white;
}

.contenedorEventos{
    width: 450px;
    background-color: black;
    margin-left: 195px;
    padding: 40px;
    color: white;
}


.error{
    color: tomato;
    font-size: 13px;
}