.btn{
    background-color: rgb(0, 109, 128);
    border: none;
    width: 100%;
    margin-top: 25px;
}

.contenedorEventos{
    width: 450px;
    background-color: black;
    margin-left: 195px;
    padding: 40px;
    color: white;
}


.error{
    color: tomato;
    font-size: 13px;
}