<div class="table">
    <table class="table">
        <thead>
            <tr class="hidden">

                <th>Fecha</th>
                <th>Evento</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>01/01/2022</td>
                <td>
                    Drum and Bass
                </td>
            </tr>
            <tr>
                <td>14/03/2022</td>
                <td>
                    Flamenco
                </td>
            </tr>
            <tr>
                <td>28/04/2022</td>
                <td>
                    Concierto de rock
                </td>
            </tr>
        </tbody>
    </table>
</div>
