<div class="table">
    <table class="table">
        <thead>
            <tr class="hidden">

                <th>Local</th>
                <th>Evento</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sala Even</td>
                <td>
                    Drum and Bass
                </td>
            </tr>
            <tr>
                <td>Los Martínez</td>
                <td>
                    Flamenco
                </td>
            </tr>
            <tr>
                <td>Centro Andaluz de Arte Contemporáneo</td>
                <td>
                    Exposición
                </td>
            </tr>
        </tbody>
    </table>
</div>