<header>
    <div class="containerHeader">

        <div class=botones>

            <div class="botonHome" [routerLink]="['/home']">HOME
            </div>

            <div class="botonPerfil" [routerLink]="['']">Tu Orbita
            </div>

            <div class="botonRegistro" [routerLink]="['/registro']">Entra en la órbita
            </div>

            <div class="botonLogin" [routerLink]="['/login']">Login
            </div>

        </div>

        
        <div >
            <img class="logo" src="../../assets/IMAGENES/ORBITA LOGO BLANCO.jpg" alt="">
        </div>
        
    </div>

</header>


<footer>
    <div class="containerFooter">
        <p>Copyright &copy; 2021 - <a href="">Aviso Legal</a> - <a href="">Cookies</a></p>
    </div>
</footer>