<header>
    <div class="containerHeader">

        <div class="botones">

            <div class="botonHome" [routerLink]="['/home']">HOME
                <!-- <i class="fas fa-home"></i> -->
            </div>

            <div class="botonPerfil" [routerLink]="['/perfil']">Tu Orbita
                <i class="fas fa-user"></i>
            </div>

            <div class="botonRegistro" [routerLink]="['/registro']">Entra en la órbita
                <i class="fas fa-satellite-dish"></i>
            </div>

            <div class="botonLogin" [routerLink]="['/login']">Login
                <i class="fas fa-sign-in-alt"></i>
            </div>


        </div>


        <div>
            <img class="logo" src="../../assets/IMAGENES/ORBITA LOGO BLANCO.jpg" alt="">
        </div>

    </div>

</header>