<div class="heroContainer container-fluid p-0 ">

    <div class="heroVideo">
        <video class="video" autoplay loop type="video/mp4">
            <source src="../../assets/VIDEOS/Solar System - 66516 (1).mp4" type="video/mp4" />
        </video>

    </div>

    <div class="heroContenido">
        <h1 class="heroH1"> No te pierdas los eventos que más te gustan de tu ciudad</h1>

        <p>Forma tu propia orbita e invita a amigos</p>

        <div class="botones">
            <div class="heroBtn">
                <a class="btn btn-outline-light btn-lg mb-1" [routerLink]="['/registro']" href="">Entra en la órbita
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>

        </div>
    </div>

  


</div>