
    <div class="tituloEventos">
        <h2><strong>EVENTOS</strong></h2>
    </div>

    <div class="listaEventos" >
        <div class="evento">
            <h3>Titulo Evento</h3>
            <h4>Nombre local</h4>
            <p>Categoría</p>
            <p>localización</p>
        </div>

        <div class="evento">
            <h3>Titulo Evento</h3>
            <h4>Nombre local</h4>
            <p>Categoría</p>
            <p>localización</p>
        </div>

        <div class="evento">
            <h3>Titulo Evento</h3>
            <h4>Nombre local</h4>
            <p>Categoría</p>
            <p>localización</p>
        </div>

        <div class="evento">
            <h3>Titulo Evento</h3>
            <h4>Nombre local</h4>
            <p>Categoría</p>
            <p>localización</p>
        </div>

    </div>

        <!-- <div class="evento" *ngFor="let evento of eventos">

            <h3>{{evento.nombre}}</h3>
            p ID p Que será el nombre del local
            <p>{{evento.localizacion}}</p>
            <img [src]="evento.imagen">
            <p>{{evento.fecha}}</p>
            <p>{{evento.categoria}}</p>
            

        </div> -->

        <!-- <button class="btn btn-danger" (click)="eliminarPost(post)">Eliminar</button> -->
        
  
