<div class="container col-12 col-md-6 p-1 pt-3 p-md-5">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="text-center row" novalidate>
        <div class="mb-3 col-12 col-md-6">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre">
            <div class="error" *ngIf="formulario.controls.nombre.errors && formulario.controls.nombre.touched">
                *introduce tu nombre
            </div>
        </div>
        <div class="mb-3 col-12 col-md-6">
            <label class="form-label">Primer apellido</label>
            <input type="text" class="form-control" formControlName="primer_apellido">
            <div class="error" *ngIf="formulario.controls.primer_apellido.errors && formulario.controls.primer_apellido.touched">
                *introduce primer apellido
            </div>
            
        </div>
        <div class="mb-3 col-12 col-md-6">
            <label class="form-label">Segundo apellido</label>
            <input type="text" class="form-control" formControlName="segundo_apellido">
            <div class="error" *ngIf="formulario.controls.segundo_apellido.errors && formulario.controls.segundo_apellido.touched">
                *introduce*segundo apellido
            </div>
        </div>
        <div class="mb-3 col-12 col-md-6">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">
            <div class="error" *ngIf="formulario.controls.email.errors && formulario.controls.email.touched">
                *introduce tu email
            </div>
        </div>
        <div class="mb-3 col-12 col-md-6">
            <label class="form-label">fecha de nacimiento</label>
            <input type="date" class="form-control" formControlName="fecha_nacimiento">
            <div class="error" *ngIf="formulario.controls.fecha_nacimiento.errors && formulario.controls.fecha_nacimiento.touched">
                *introduce tu fecha de nacimiento
            </div>
        </div>
        <div class="mb-3 col-12 col-md-6">
            <label class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" formControlName="nombre_usuario">
            <div class="error" *ngIf="formulario.controls.nombre_usuario.errors && formulario.controls.nombre_usuario.touched">
                *introduce un nombre de usuario
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="error" *ngIf="formulario.controls.password.errors && formulario.controls.password.touched">
            *introduce una contraseña
        </div>



        <div class="mb-3">
            <input type="submit" class="btn btn-primary button" [disabled]="!formulario.valid">
        </div>
    </form>
</div>